@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap');

:root{
	--font-primary: 'Lato';
	--font-secondary: 'Montserrat';
	--text-primary: #FFF;
	--text-secondary: #000;
	--background-primary: #FFF;
	--background-secondary: #000;
	font-size: 62.5%; /* 10/16  */
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

header {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	background-image: url("/assets/images/background_home.jpg");
	background-repeat: no-repeat;
	background-size: cover;

	height: 100vh;
	padding-top: 12.5rem;
	padding-left: 7rem;
	color: #FFF;
	
}

nav ul {
	display: flex;
	align-items: end;
	list-style: none;
	top: 3rem;
	position: absolute;
	gap: 1.5rem;
	right: 3rem;
}

@keyframes zoom {
	0%{
		transform: scale(1.5);
	}
	100%{
		transform: scale(1);
	}
}

h1 {
	font-size: 50px;
	font-weight: 900;
	color: #FFF;
	font-family: 'Poppins';
	background: linear-gradient(90deg, #2b5876 100%, #4e4376 100%);
	animation: focus-in-contract 0.7s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.botao:hover{
	opacity: .8;
}

@keyframes focus-in-contract {
	0% {
	  letter-spacing: 1em;
	  filter: blur(12px);
	  opacity: 0;
	}
	100% {
	  filter: blur(0px);
	  opacity: 1;
	}
  }
  

span {
	font-size: 40px;
	font-family: 'Montserrat';
	color: #FFF;
	background: linear-gradient(90deg, #2b5876 100%, #4e4376 100%);
	animation: text-flicker-in-glow 4s linear both;
}

@keyframes text-flicker-in-glow {
	0% {
	  opacity: 0;
	}
	15% {
	  opacity: 1;
	  text-shadow: none;
	}
	30% {
	  opacity: 0;
	  text-shadow: none;
	}
	45% {
	  opacity: 1;
	  text-shadow: none;
	}
	50% {
	  opacity: 1;
	  text-shadow: 0 0 30px rgba(255, 255, 255, 0.45), 0 0 60px rgba(255, 255, 255, 0.25);
	}

	75% {
	  opacity: 1;
	  text-shadow: 0 0 30px rgba(255, 255, 255, 0.55), 0 0 60px rgba(255, 255, 255, 0.35), 0 0 100px rgba(255, 255, 255, 0.1);
	}

	100% {
	  opacity: 1;
	  text-shadow: 0 0 30px rgba(255, 255, 255, 0.6), 0 0 60px rgba(255, 255, 255, 0.45), 0 0 110px rgba(255, 255, 255, 0.25), 0 0 100px rgba(255, 255, 255, 0.1);
	}
  }
  


a{
	font-size: 1.9rem;
	font-family: 'Montserrat';
	color: #FFF;
	text-decoration: none;
	background: linear-gradient(90deg, #2b5876 100%, #4e4376 100%);
	padding: 1rem 2rem;
	border-radius: 7px;
}
#secao-acoes{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	height: 500px;
	top: -10px;
	border-radius: 25px 25px 0 0;
	background-color: aliceblue;
}

#secao-acoes ul{
	display: flex;
	gap: 1rem;
	
}

#secao-acoes li{
	list-style: none;
}

#secao-conversordemoedas{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 1rem;
	height: 500px;
	top: -10px;
	border-radius: 25px 25px 0 0;
	background-color: aliceblue;
}




